USE [master]
GO
/****** Object:  Database [PruebaGranTitan]    Script Date: 8/24/2022 4:28:33 PM ******/
CREATE DATABASE [PruebaGranTitan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PruebaGranTitan', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PruebaGranTitan.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PruebaGranTitan_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PruebaGranTitan_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PruebaGranTitan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PruebaGranTitan]
GO
/****** Object:  Table [dbo].[BET]    Script Date: 8/24/2022 4:28:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BET](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ROULETTE_ID] [int] NOT NULL,
	[NUMBER] [int] NOT NULL,
	[COLOR] [nvarchar](50) NOT NULL,
	[AMOUNT] [numeric](18, 4) NOT NULL,
	[IS_WINNER] [bit] NOT NULL,
 CONSTRAINT [PK_BET] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROULETTE]    Script Date: 8/24/2022 4:28:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROULETTE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CREATION_DATE] [nvarchar](50) NOT NULL,
	[STATUS_ID] [int] NOT NULL,
	[OPEN_DATE] [nvarchar](50) NULL,
	[CLOSE_DATE] [nvarchar](50) NULL,
 CONSTRAINT [PK_ROULETTE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATUS]    Script Date: 8/24/2022 4:28:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATUS](
	[ID] [int] NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_STATUS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WINNER]    Script Date: 8/24/2022 4:28:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WINNER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ROULETTE_ID] [int] NOT NULL,
	[NUMBER] [int] NOT NULL,
	[COLOR] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_WINNER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BET] ON 

INSERT [dbo].[BET] ([ID], [ROULETTE_ID], [NUMBER], [COLOR], [AMOUNT], [IS_WINNER]) VALUES (4, 5, 20, N'rojo', CAST(5000.0000 AS Numeric(18, 4)), 0)
INSERT [dbo].[BET] ([ID], [ROULETTE_ID], [NUMBER], [COLOR], [AMOUNT], [IS_WINNER]) VALUES (5, 5, 20, N'rojo', CAST(5000.0000 AS Numeric(18, 4)), 0)
INSERT [dbo].[BET] ([ID], [ROULETTE_ID], [NUMBER], [COLOR], [AMOUNT], [IS_WINNER]) VALUES (6, 5, 1, N'rojo', CAST(5000.0000 AS Numeric(18, 4)), 0)
SET IDENTITY_INSERT [dbo].[BET] OFF
GO
SET IDENTITY_INSERT [dbo].[ROULETTE] ON 

INSERT [dbo].[ROULETTE] ([ID], [CREATION_DATE], [STATUS_ID], [OPEN_DATE], [CLOSE_DATE]) VALUES (1, N'2022-08-24T14:41:54.270', 1, NULL, NULL)
INSERT [dbo].[ROULETTE] ([ID], [CREATION_DATE], [STATUS_ID], [OPEN_DATE], [CLOSE_DATE]) VALUES (2, N'2022-08-24T14:41:57.297', 3, NULL, N'2022-08-24T16:13:29.560')
INSERT [dbo].[ROULETTE] ([ID], [CREATION_DATE], [STATUS_ID], [OPEN_DATE], [CLOSE_DATE]) VALUES (3, N'2022-08-24T14:54:32.323', 2, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ROULETTE] OFF
GO
INSERT [dbo].[STATUS] ([ID], [NAME]) VALUES (1, N'CREATED')
INSERT [dbo].[STATUS] ([ID], [NAME]) VALUES (2, N'OPENED')
INSERT [dbo].[STATUS] ([ID], [NAME]) VALUES (3, N'CLOSED')
GO
SET IDENTITY_INSERT [dbo].[WINNER] ON 

INSERT [dbo].[WINNER] ([ID], [ROULETTE_ID], [NUMBER], [COLOR]) VALUES (1, 2, 31, N'Negro')
SET IDENTITY_INSERT [dbo].[WINNER] OFF
GO
ALTER TABLE [dbo].[BET]  WITH CHECK ADD  CONSTRAINT [FK_BET_ROULETTE_ID] FOREIGN KEY([ROULETTE_ID])
REFERENCES [dbo].[ROULETTE] ([ID])
GO
ALTER TABLE [dbo].[BET] CHECK CONSTRAINT [FK_BET_ROULETTE_ID]
GO
ALTER TABLE [dbo].[ROULETTE]  WITH CHECK ADD  CONSTRAINT [FK_ROULETTE_STATUS_ID] FOREIGN KEY([STATUS_ID])
REFERENCES [dbo].[STATUS] ([ID])
GO
ALTER TABLE [dbo].[ROULETTE] CHECK CONSTRAINT [FK_ROULETTE_STATUS_ID]
GO
ALTER TABLE [dbo].[WINNER]  WITH CHECK ADD  CONSTRAINT [FK_WINNER_ROULETTE_ID] FOREIGN KEY([ROULETTE_ID])
REFERENCES [dbo].[ROULETTE] ([ID])
GO
ALTER TABLE [dbo].[WINNER] CHECK CONSTRAINT [FK_WINNER_ROULETTE_ID]
GO
/****** Object:  StoredProcedure [dbo].[SPR_BET_InsertCommand]    Script Date: 8/24/2022 4:28:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Juan Camilo Contreras
-- Create date: 24/08/2022
-- Description:	Insert New BET
-- =============================================
CREATE PROCEDURE [dbo].[SPR_BET_InsertCommand]
	@ROULETTE_ID int,
	@NUMBER int,
	@COLOR NVARCHAR(50),
	@AMOUNT NUMERIC(18,4)
AS
BEGIN
	IF (SELECT STATUS_ID FROM ROULETTE WHERE ID =@ROULETTE_ID)=2
		INSERT INTO BET (ROULETTE_ID,NUMBER,COLOR,AMOUNT,IS_WINNER) VALUES (@ROULETTE_ID,@NUMBER,@COLOR,@AMOUNT,0)
END
GO
/****** Object:  StoredProcedure [dbo].[SPR_BET_SelectCommand]    Script Date: 8/24/2022 4:28:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Juan Camilo Contreras
-- Create date: 24/08/2022
-- Description:	Select Bets for RouletteId
-- =============================================
CREATE PROCEDURE [dbo].[SPR_BET_SelectCommand]
	@ROULETTE_ID int
AS
BEGIN
	SELECT * FROM BET WHERE ROULETTE_ID=@ROULETTE_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SPR_ROULETTE_Close]    Script Date: 8/24/2022 4:28:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Juan Camilo Contreras
-- Create date: 24/08/2022
-- Description:	Close Roulette
-- =============================================
CREATE PROCEDURE [dbo].[SPR_ROULETTE_Close]
	@ID int
AS
BEGIN
	IF (SELECT STATUS_ID FROM ROULETTE WHERE ID =@ID)=2
		UPDATE ROULETTE SET STATUS_ID = 3,CLOSE_DATE=CONVERT(nvarchar,GETDATE(),126) WHERE ID =@ID
END
GO
/****** Object:  StoredProcedure [dbo].[SPR_ROULETTE_InsertCommand]    Script Date: 8/24/2022 4:28:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Juan Camilo Contreras
-- Create date: 24/08/2022
-- Description:	Insert New Roulette
-- =============================================
CREATE PROCEDURE [dbo].[SPR_ROULETTE_InsertCommand] 
AS
BEGIN
	INSERT INTO ROULETTE (CREATION_DATE,STATUS_ID) VALUES (CONVERT(nvarchar,GETDATE(),126),1)

	SELECT SCOPE_IDENTITY() AS ID
END
GO
/****** Object:  StoredProcedure [dbo].[SPR_ROULETTE_Open]    Script Date: 8/24/2022 4:28:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Juan Camilo Contreras
-- Create date: 24/08/2022
-- Description:	Open Roulette
-- =============================================
CREATE PROCEDURE [dbo].[SPR_ROULETTE_Open]
	@ID int
AS
BEGIN
	IF (SELECT STATUS_ID FROM ROULETTE WHERE ID =@ID)=1
		UPDATE ROULETTE SET STATUS_ID = 2, OPEN_DATE=CONVERT(nvarchar,GETDATE(),126) WHERE ID =@ID
END
GO
/****** Object:  StoredProcedure [dbo].[SPR_ROULETTE_SelectCommand]    Script Date: 8/24/2022 4:28:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Juan Camilo Contreras
-- Create date: 24/08/2022
-- Description:	Select All Roulettes
-- =============================================
CREATE PROCEDURE [dbo].[SPR_ROULETTE_SelectCommand]
	
AS
BEGIN
	SELECT * FROM ROULETTE
END
GO
/****** Object:  StoredProcedure [dbo].[SPR_WINNER_InsertCommand]    Script Date: 8/24/2022 4:28:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Juan Camilo Contreras
-- Create date: 24/08/2022
-- Description:	Insert WINNER
-- =============================================
CREATE PROCEDURE [dbo].[SPR_WINNER_InsertCommand]
	@ROULETTE_ID int,
	@NUMBER int,
	@COLOR NVARCHAR(50)
AS
BEGIN
	INSERT INTO WINNER (ROULETTE_ID,NUMBER,COLOR) VALUES(@ROULETTE_ID,@NUMBER,@COLOR)
END
GO
USE [master]
GO
